:root {
--brand-color: #434455;
--secondary-text-color: #E7E9FC;
--light-text-color: #F4F4FD;
}

body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    color: #434455;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
}
ul>li {
    list-style-type: none;
}

.hero {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #fff;
    background-color: #2E2F42;
}

.about-work{
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.about-us{
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        color: #2E2F42;
}

/* стилі заголовків */
.text-card {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
}

.text-card-item {
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
}

/*підкреслення з посилань відсутні*/
a {
    text-decoration: none;
    color: #2E2F42;
}

/* Логотип */
.logos {
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
}

.logos-color {
    color: #4D5AE5;
}


/* Список преймуществ */

.goals-text{
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.goals-description{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;
}

.our-team{
    font-style: normal; 
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.job-title{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;
}

/* кнопки фільтра */
.list-button-order {
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #ffffff;
    background: #4D5AE5;
    border-radius: 4px;
}

.list-button {
    cursor: pointer;
    font-family: 'Roboto',sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #4D5AE5;
    background: #F4F4FD;
    border: 1px solid #E7E9FC;
    border-radius: 4px;
}

.list-button-order:hover,
.list-button-order:focus,
.list-button:hover,
.list-button:focus,
.list-button:active {
    background: #404BBF;
    color: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

.link-item:hover,
.link-item:focus {
    color: #4D5AE5;
    font-weight: 500;
}

.mailto,
.telto {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;
}

.mailto:hover, .mailto:focus {
    color:#404BBF
}

.telto:hover, .telto:focus{
    color:#404BBF
}

/* прибираємо маркери списку */
.list-style-type {
    list-style-type: none;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
    text-decoration: none;
}

.list-style-type:hover {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.list-style-type:active {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #4D5AE5;
}

.text-card {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.text-card-item {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

/* підвал сайту */
.footer-style {
    background-color: #2E2F42;
    Width: 1440px;
    Height: 110px;
}

.footer-style-text {
    color: #ffffff;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.logos-footer {
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    color: #ffffff;
}

.logos-color-footer {
    color: #4D5AE5;
}

.logos:hover,
.logos-footer:hover {
    color: #4D5AE5;
}